body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
}
body.light {
    background-color: #f5f5f5;
    color: #222;
}

body.dark {
    background-color: #222;
    color: #f5f5f5;
}

/* Optional: style links/buttons differently in dark mode */
body.dark a {
    color: #ffd700;
}

body.light a {
    color: #007bff;
}


.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

form input {
    width: 70%;
    padding: 8px;
}

form button {
    padding: 9px 15px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}

a {
    text-decoration: none;
    margin-left: 10px;
}

.delete {
    color: red;
}
